[submodule "vendor/zlm"]
	path = vendor/zlm
	url = https://github.com/ziglibs/zlm
[submodule "vendor/zero-graphics"]
	path = vendor/zero-graphics
	url = https://github.com/MasterQ32/zero-graphics
[submodule "vendor/libgamestudio"]
	path = vendor/libgamestudio
	url = https://github.com/MasterQ32/libgamestudio.git
[submodule "vendor/ode"]
	path = vendor/ode
	url = https://github.com/MasterQ32/zig-ode
